ion-avatar{
    max-width: 40px;
    max-height: 40px;
}

ion-icon{
    font-size: 18px;
    
}

ion-col.button{
    text-align: right;
}

ion-col.profile{
    text-align: left;
}

ion-image.selected{
    width: 100%;
}

