ion-icon.pick {
  font-size: 64px;
  color: var(--ion-color-medium);
  
}

ion-col {
  text-align: center;
}

ion-grid{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  height: 100%
}
